body {
    background-color: #f0f0f0af;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #af914cf5;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #333333;
}

article {
    margin-bottom: 20px;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

form {
    margin: 20px auto;
    max-width: 400px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #af914cf5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7b6131;
}